.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

API.pages

dist

.env.dev


__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev
# Project exclude paths
/venv/